<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Launch other relevant files-->
  <include file="$(find robotic_charger)/launch/robot_description.launch"/>

  <!-- World File -->
  <arg name="world_file" default="$(find robotic_charger)/worlds/charging_station.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- Find my robot Description-->
  <param name="pole1_description" command="$(find xacro)/xacro --inorder '$(find robotic_charger)/urdf/pole.xacro'"/>
  <param name="pole2_description" command="$(find xacro)/xacro --inorder '$(find robotic_charger)/urdf/pole2.xacro'"/>

  <!-- Spawn Pole -->
  <node name="pole1_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param pole1_description -model pole
              -x 1.5 -y 0 -z 0
              -R 0 -P 0 -Y 0"/>

  <node name="pole2_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param pole2_description -model pole2 
              -x -1.5 -y 0 -z 0
              -R 0 -P 0 -Y 0"/>
              
  <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model pole 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> -->

  <!--launch rviz-->
  <!-- <node name="rviz" pkg="rviz" type="rviz" respawn="false"/> -->

</launch>