<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Launch other relevant files-->
  <!-- <include file="$(find robotic_charger)/launch/robot_description.launch"/> -->

  <!-- World File -->
  <arg name="world_file" default="$(find robotic_charger)/worlds/empty.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- Spawn the first pole -->
  <node name="spawn_pole_1" pkg="gazebo_ros" type="spawn_model" args="-file $(find robotic_charger)/urdf/pole.xacro -urdf -model pole_1 -x 1.5 -y 0 -z 0"/>

  <!-- Spawn the camera on the first pole -->
  <node name="spawn_camera_1" pkg="gazebo_ros" type="spawn_model" args="-file $(find robotic_charger)/urdf/camera.xacro -urdf -model camera_1 -robot pole_1 -x 0 -y 0.5 -z 0.2"/>

  <!-- Spawn the second pole -->
  <node name="spawn_pole_2" pkg="gazebo_ros" type="spawn_model" args="-file $(find robotic_charger)/urdf/pole.xacro -urdf -model pole_2 -x -1.5 -y 0 -z 0"/>

  <!-- Spawn the camera on the second pole -->
  <node name="spawn_camera_2" pkg="gazebo_ros" type="spawn_model" args="-file $(find robotic_charger)/urdf/camera.xacro -urdf -model camera_2 -robot pole_2 -x 0 -y 0.5 -z 0.2"/>
  
</launch>
