<robot name="pole_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="camera" value="0.1" /> <!-- Size of square 'camera' box -->
    <!-- gazebo plugin files for sensors -->
    <xacro:include filename="$(find robotic_charger)/urdf/camera.gazebo" />

    <!-- Camera -->
    <link name="camera">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${camera} ${camera} ${camera}"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${camera} ${camera} ${camera}"/>
        </geometry>
        <material name="green"/>
      </visual>

      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>

    <!-- generate an optical frame http://www.ros.org/reps/rep-0103.html#suffix-frames
        so that ros and opencv can operate on the camera frame correctly -->
    <joint name="camera_optical_joint" type="fixed">
      <!-- these values have to be these values otherwise the gazebo camera image
          won't be aligned properly with the frame it is supposedly originating from -->
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="camera"/>
      <child link="camera_optical"/>
    </joint>

    <link name="camera_optical">
    </link>

    <gazebo reference="camera">
      <material>Gazebo/Green</material>
    </gazebo>
